<%- include('../partials/head.ejs') %>

  <h1>Edit</h1>

  <img class="small" src="/dist/images/<%= image %>">
  <a href="/admin/delete/<%= image %>">Verwijder</a>

  <!-- <form method="post">

  </form> -->

<%- include('../partials/foot.ejs') %>
