<%- include('../partials/head_2.ejs') %>

  <h1 class="overview_title">Overview</h1>
  <a class="upload" href="/admin/upload">Upload afbeeldingen</a>

  <section class="__image_cap">
    <% images.forEach(function(image) { %>
    <a href="/admin/edit/<%= image %>">
      <section class="__overview_image">
        <img src="/dist/images/<%= image %>" />
      </section>
    </a>
    <% }) %>
  </section>

<%- include('../partials/foot.ejs') %>
