<%- include('../partials/head_2.ejs') %>

  <section class="padding">
    <h1>Upload</h1>
    <form method="post" enctype="multipart/form-data">
      <h2>Positieve afbeelding</h2>
      <input type="file" name="images" required /> <br/><br/>
      <h2>Negatieve afbeelding</h2>
      <input type="file" name="images" required /> <br/><br/><br/>
      <input type="submit" value="Uploaden" />
    </form>
  </section>

<%- include('../partials/foot.ejs') %>
