  <!-- SCRIPTS HERE -->

  <script type="text/javascript">
  var iPhone4 = navigator.userAgent.match(/iPhone/i) !== null  && window.screen.height == (960 / 2);
  if (document.documentMode || /Edge/.test(navigator.userAgent) || iPhone4) {
    document.write('<script src="/js/scriptie.js"><\/script>');
  } else {
    document.write('<script src="/js/script.js"><\/script>');
  }
  </script>

  <script>
    console.log()
  </script>
  </body>
</html>
