  <!-- SCRIPTS HERE -->

  <script type="text/javascript">
  if (/MSIE 10/i.test(navigator.userAgent)) {
     // This is internet explorer 10
     alert('isIE10');
  }

  if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
      // This is internet explorer 9 or 11
      alert('Somehting')
  }

  if (/Edge\/\d./i.test(navigator.userAgent)){
     // This is Microsoft Edge
     alert('Microsoft Edge');
  }
  </script>

  </body>
</html>
