  <!-- SCRIPTS HERE -->

  <script type="text/javascript">
  if (/MSIE 10/i.test(navigator.userAgent)) {
    document.write('<script src="/js/scriptie.js"><\/script>');
  } else if(/MSIE 10/i.test(navigator.userAgent) == false && /MSIE 9/i.test(navigator.userAgent) == false || /rv:11.0/i.test(navigator.userAgent) == false && /Edge\/\d./i.test(navigator.userAgent)) == false) {
    document.write('<script src="/js/script.js"><\/script>');
  }

  if (/MSIE 9/i.test(navigator.userAgent) || /rv:11.0/i.test(navigator.userAgent)) {
    document.write('<script src="/js/scriptie.js"><\/script>');
  } else if(/MSIE 9/i.test(navigator.userAgent) == false && /rv:11.0/i.test(navigator.userAgent) == false && /Edge\/\d./i.test(navigator.userAgent)) == false) {
    document.write('<script src="/js/script.js"><\/script>');
  }


  if (/Edge\/\d./i.test(navigator.userAgent)) {
     document.write('<script src="/js/scriptie.js"><\/script>');
  } else if(/Edge\/\d./i.test(navigator.userAgent)) == false) {
    document.write('<script src="/js/script.js"><\/script>');
  }

  </script>
}
  </body>
</html>
