<!-- SCRIPTS HERE -->

<script type="text/javascript">


function iOSVersion() {
  var match = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/);
  if(match) {
    var	version = [
  			parseInt(match[1], 10),
  			parseInt(match[2], 10),
  			parseInt(match[3] || 0, 10)
  		];

  	return parseFloat(version.join('.'));
  } else {
    return 15;
  }
}

var version = iOSVersion();

console.log(version)

  var iPhone4 = navigator.userAgent.match(/iPhone/i) !== null && window.screen.height == (960 / 2);
  if (document.documentMode || /Edge/.test(navigator.userAgent) || iPhone4 || version < 10) {
    console.log('CONDITIONS TRUE')
    document.write('<script src="/js/scriptie.js"><\/script>');
  } else {
    document.write('<script src="/js/script.js"><\/script>');
  }
</script>
</body>

</html>
