  <!-- SCRIPTS HERE -->

  <script type="text/javascript">
    if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
      document.write('<script src="/js/scriptie.js"><\/script>');
    } else {
      document.write('<script src="/js/script.js"><\/script>');
    }
  </script>

  </body>
</html>
