.edit_admin {
  text-align: center;
  img {
    width: 50%;
    margin-bottom: 2.5em;
  }
  input[type="text"] {
    padding: .5em;
    font-size: 1em;
    width: 55%;
  }
  .delete {
    position: absolute;
    top: 7em;
    right: 10em;
    font-size: 1.25em;
    background-color: rgb(203, 61, 61);
    padding: .75em;
    color: white;
    text-decoration: none;
    border-radius: .25em;
  }
  input[type="submit"] {
    display: inline-block;
    border: none;
    padding: .5em;
    font-size: 1.1em;
    margin-left: .5em;
    background-color: rgb(14, 84, 35);
    color: white;
    border-radius: .25em;
  }
}

.overview_title, .admin_title {
  text-align: center;
  margin-top: 2em;
}

.login {
  margin-top: 2.5em;
  text-align: center;
  input[type="text"],
  input[type="password"]  {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: .5em;
    font-size: 1em;
    width: 25%;
  }
  input[type="text"] {
    margin-bottom: 1.5em;
  }
  input[type="submit"] {
    display: inline-block;
    margin: 2em auto 0;
    border: none;
    padding: .5em;
    font-size: 1.1em;
    margin-left: .5em;
    background-color: rgb(14, 84, 35);
    color: white;
    border-radius: .25em;
  }
}

.padding {
  padding: 2em;
  color: white;
  h1 {
    font-size: 2em;
    margin-bottom: 1.5em;
  }
  input[type="submit"] {
    border: none;
    padding: .5em;
    font-size: 1.1em;
    background-color: rgb(204, 204, 204);
    color: black;
    border-radius: .25em;
  }
}

.upload {
  font-size: 1.2em;
  background-color: rgb(154, 174, 116);
  padding: 1em;
  color: white;
  text-decoration: none;
  border-radius: .25em;
  margin: 0;
  position: absolute;
  top: 3em;
  right: 4em;
}
