.__image_wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 4s linear;
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    @include bp-medium {
      margin-top: 35.5vh;
    }
    @include bp-horizon {
      margin-top: 2.5vh;
    }
    @include bp-portrait {
      // -ms-transform: translate(1.5, 1.5); /* IE 9 */
      // -webkit-transform: translate(1.5); /* Safari */
      // transform: scale(1.5);
    }
    &.__normal {
      z-index: 1;
      opacity: 1;
      transition: opacity 0s linear;
    }
    &.__negative {
      opacity: 0;
      transition: opacity 0s linear;
    }
  }
}

.__image_cap {
  display: flex;
  flex-wrap: wrap;
  .__overview_image {
    max-width: 25vw;
    img {
      width: 25vw!important;
    }
  }
}

.small {
  width: 50vw;
}
