section {
  color: black;
  &.__head {
    .__title {
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &.__about {
    .__about_title {
      transition: 1s;
      font-size: $basic-font;
      z-index: 1000000;
      position: absolute;
      right: 2em;
      top: 2em;
      color: white;
      @include bp-medium {
        right: 1.5em;
      }
      &:hover {
        cursor: pointer;
        transition: 1s;
        transform: scale(1.2);
      }
    }
  }
  &.__info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    display: none;
    transition: opacity 0s linear;
    @include bp-portrait {
      background-color: rgba(0, 0, 0, 1);
      color: white;
      z-index: 1000;
      height: 125vh;
      display: block;
    }
    @include bp-iphone5 {
      height: 182.5vh;
    }
    .__title_dark {
      font-family: 'Frutiger-Bold', sans-serif;
      font-weight: 700;
      color: black;
      @include bp-medium {
        color: white;
      }
    }
    .__close {
      color: black;
      position: absolute;
      top: 2em;
      right: 3em;
      font-size: $basic-font;
      @include bp-portrait {
        display: none;
      }
      &:hover {
        cursor: pointer;
      }
      @include bp-medium {
        right: 2.5em;
      }
    }
    .__contact {
      transition: 1s;
      position: absolute;
      top: 26em;
      left: 5em;
      @include bp-medium {
        right: 8%!important;
        text-align: right;
        top: 32.5em;
        color: white;
      }
      @include bp-iphone5 {
        top: 37.5em;
      }
      h2 {
        font-size: 1.2em;
        margin-bottom: 1em;
      }
      span {
        display: block;
        margin-left: 1.5em;
        @include bp-medium {
          margin-left: .5em;
          color: white;
        }
        p {
          margin: 0;
          margin-bottom: .25em;
          @include bp-medium {
            color: white;
          }
          &:last-of-type {
            margin-bottom: 1.5em;
          }
          a {
            transition: 1s;
            text-decoration: none;
            color: black;
            @include bp-medium {
              color: white;
            }
            &:hover {
              transition: 1s;
              color: #00FF24;
            }
          }
        }
      }
    }
    .__text {
      transition: 1s;
      max-width: 29em;
      position: absolute;
      top: 5em;
      left: 5em;
      margin-bottom: .25em;
      line-height: 1.2em;
      @include bp-medium {
        left: 2.5em;
        max-width: 17.5em;
        padding-right: 1em;
        color: white;
      }
      @include bp-iphone5 {
        max-width: 17.5em;
      }
      h2 {
        font-size: 1.2em;
        margin-bottom: 1em;
      }
      p {
        margin-left: 1.5em;
          a {
            transition: 1s;
            text-decoration: none;
            color: black;
            &:hover {
              transition: 1s;
              color: #00FF24;
            }
        }
        @include bp-medium {
          margin-left: .5em;
        }
      }
    }
    .__copyright {
      position: absolute;
      bottom: 2em;
      left: 3em;
      font-family: 'Frutiger-Bold', sans-serif;
      font-weight: 700;
      @include bp-small {
        display: none;
      }
      @include bp-iphone5 {
        display: block;
        bottom: 1.5em;
      }
    }
    .__copyright_text {
      position: absolute;
      right: 3em;
      bottom: 2em;
      max-width: 27.5em;
      text-align: right;
      margin-bottom: .15em;
      line-height: 1.2em;
      p {
        font-family: 'Frutiger-Bold', sans-serif;
        font-weight: 700;
      }
      @include bp-medium {
        top: 41em;
        text-align: right;
        right: 7%;
        max-width: 19.5em!important;
      }
      @include bp-iphone5 {
        top: 46em;
        left: 3em;
        max-width: 15.5em;
        text-align: left;
      }
    }
  }
}

.__title_dark {
  font-family: 'Frutiger-Bold', sans-serif;
  font-weight: 700;
  @include bp-medium {
    color: white;
  }
}

.__title, .__title_dark, .__title_rotate {
  transition: 1s;
  position: absolute;
  font-size: $basic-font;
  top: 2em;
  left: 2.55em;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s linear;
  font-weight: 300;
  @include bp-medium {
    top: 1.5em;
    left: 1.5em;
  }
  &:hover {
    cursor: pointer;
  }
  &.one, &.two, &.three {
    font-family: 'Frutiger-Bold', sans-serif;
    transition: opacity .25s linear;
    opacity: 0;
    @include bp-portrait {
      display: none;
    }
    @include bp-medium {
      display: none;
      font-family: 'Frutiger-Bold', sans-serif;
    }
  }
  &.mobile {
    display: none;
    @include bp-medium {
      display: block;
    }
    @include bp-portrait {
      display: none;
    }
  }
}

.__title_rotate {
  color: black;
  display: none;
  @include bp-medium {
    display: block;
    right: 1.5em!important;
    text-align: right;
  }
}

.one, .two, .three, .mobile, .__title_rotate {
  font-family: 'Frutiger-Bold', sans-serif;
  font-weight: 700;
}

.__image_info {
  font-size: .8em;
  z-index: 100000000;
  position: absolute;
  bottom: 3em;
  right: 4em;
  color: #00FF24;
  text-align: right;
  @include bp-medium {
    bottom: 3em;
    max-width: 25em;
    right: 1em;
    font-size: .75em;
  }
  @include bp-portrait {
    display: none;
  }
  @include bp-horizon {
    bottom: 1.5em;
    max-width: 25em;
    right: 4em;
    font-size: .75em;
  }
  p {
    font-family: 'Frutiger-Light', sans-serif;
    font-weight: 300;
    display: inline-block;
  }
}
