<%- include('./partials/head.ejs') %>
  <section class="__info">
    <h1 class="__title_dark">Orphée</h1>
    <h1 class="__title_rotate">Rotate</h1>
    <h1 class="__close" id="close">Close</h1>
    <div class="__contact">
      <h2>Contact</h2>
      <span>
        <p class="uppercase">Graphic design</p>
        <p><a class="mail" href="mailto:mikel@studio-orphee.eu">mikel[at]studio-orphee.eu</a></p>
        <p>T: +31 (0)6 84 34 06 38</p>
      </span>
    </div>
    <div class="__text">
      <h2>Info</h2>
      <p>Orphée is a graphic design studio that’s mainly focussing on the cultural field(s). My expertise varies from printed matter to type design.</p>
      <p>Every design will be executed concept–based and quality is a priority (paper, print, lithography and type).</p>
      <p>Are you interested in a (artist) monograph, catalogue, business card, typeface, etcetera? Please don’t hesitate to drop a line for further inquiries…</p>
      <p>p.s.: Portfolio showcase can be asked on request via: <a class="mail" href="mailto:mikel@studio-orphee.eu">mikel[at]studio-orphee.eu</a>. Further works on this website display most–recent projects and not a overall retrospective of my works.</p>
    </div>
    <div class="__copyright">
      <p>&copy Orphée <span id="copy_date"></span></p>
    </div>
    <div class="__copyright_text">
      <h2>&copy</h2>
      <p>This website and its content is copyright of Orphée. Any redistribution or reproduction of the content in any form is prohibited.</p>
    </div>
  </section>
  <section class="__head">
    <h1 class="__title mobile">Orphée</h1>
    <h1 class="__title one">Orphée</h1>
    <h1 class="__title two">Info</h1>
    <h1 class="__title three">Contact</h1>
  </section>

  <section class="__image_wrapper">
    <img class="__image __clickable __cross-fade" />
  </section>

  <section class="__image_wrapper">
    <img class="__cross-fade __image __clickable" />
  </section>

  <section class="__image_wrapper">
    <img class="__cross-fade __image __clickable" />
  </section>

  <section class="__image_wrapper">
    <img class="__cross-fade __image __clickable" />
  </section>

  <section class="__image_wrapper">
    <img class="__cross-fade __image __clickable" />
  </section>

  <section class="__image_info">
    <p class="__description"></p>
  </section>


<%- include('./partials/foot.ejs') %>
