<%- include('./partials/head.ejs') %>
  <section class="__info">
    <h1 class="__title_dark">Orphée</h1>
    <h1 class="__close uppercase" id="close">Close</h1>
    <div class="__contact">
      <h2>Contact</h2>
      <span>
        <p class="uppercase">Graphic design</p>
        <p><a class="mail" href="mailto:mikel@studio-orphee.eu">mikel[at]studio-orphee.eu</a></p>
        <p>T: +31 (0)6 84 34 06 38</p>
      </span>
    </div>
    <div class="__text">
      <h2>Info</h2>
      <p>Orphée is a collective who’s expertise swifts from printed to coding.
         We’re expertized in artist pubications (monographs,catalogues), type designs and coding.</p>
      <p>Please don’t hesitate to drop a line for further inqueries…</p>
    </div>
    <div class="__copyright">
      <p>&copy Orphée <span id="copy_date"></span></p>
    </div>
    <div class="__copyright_text">
      <p>This website and its content is copyright of studio Orphée.
        Any redistribution or reproduction of the contents in any form is PROHIBITED.</p>
    </div>
  </section>
  <section class="__head">
    <h1 class="__title">Orphée</h1>
  </section>
  <section class="__about">
    <h1 class="__about_title">Contact</h1>
  </section>
  <% let count = 0; %>
    <% images.forEach(function(image) { %>
      <% if(count === 0)  { %>
        <section class="__image_wrapper">
        <img src="/dist/images/<%= image %>" class="__image __normal __clickable" />
      <% } %>
      <% count++ %>
      <% if(count === 2)  { %>
        <img src="/dist/images/<%= image %>" class="__negative" />
        </section>
        <% count = 0; %>
      <% } %>
    <% }) %>


<%- include('./partials/foot.ejs') %>
