/* TYPO
------------------------------- */
// @font-face {
// 	font-family: 'Frutiger-Light';
// 	src: url('FrutigerLTStd-Light.woff2') format('woff2'),
// 		url('FrutigerLTStd-Light.woff') format('woff'),
// 		url('FrutigerLTStd-Light.ttf') format('truetype');
// 	font-weight: 300;
// 	font-style: normal;
// }


@font-face {
	font-family: 'Frutiger-Bold';
	src: local('Frutiger LT Std 65 Bold'), local('FrutigerLTStd-Bold'),
		url('font/FrutigerLTStd-Bold.woff2') format('woff2'),
		url('font/FrutigerLTStd-Bold.woff') format('woff'),
		url('font/FrutigerLTStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger-Roman';
	src: url('FrutigerLTStd-Roman.woff2') format('woff2'),
		url('FrutigerLTStd-Roman.woff') format('woff'),
		url('FrutigerLTStd-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* GENERAL
------------------------------- */
* {
  box-sizing: border-box;
	letter-spacing: 0.02em;
	user-select: none;
	background-color: black;
}

body {
	overflow-x: hidden;
	overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Fruitiger-Bold', sans-serif;
	background-color: black;
	color: white;
	@include bp-portrait {
		overflow: auto!important;
	}
	@include bp-iphone5 {
		background-color: white;
	}
	@include bp-horizon {
		background-color: black;
	}
	&.__no_overflow {
		overflow: auto!important;
	}
	&.__white {
		transition: 1s;
		background-color: white;
	}
}

img {
  width: 100%;
	height: auto;
}

.uppercase {
	text-transform: uppercase;
}

p {
	font-weight: 700;
}

.white {
	color: white;
}
